.directory
# rtmidi*
config.user.pri
qcs.pro.user

bin/*.exe
bin/*.dll
bin/CsoundQt-d-*
bin/old

Makefile
build/
.mypy_cache

src/Examples/McCurdy Collection/Modulation/test.wav

doc/QuteCsound Quick Reference (0.9).odt

.qmake.stash

*~.*
#*
*.pro.user
*.autosave
__pycache__
*.pyc
util/opcodes.xml
*.dmg
.DS_Store
*~
