[Desktop Entry]
Categories=AudioVideo;Audio;
Exec=csoundqt %F
GenericName=IDE for Csound
Icon=csoundqt
MimeType=text/x-csound-sco;text/x-csound-orc;text/x-csound-csd;text/x-csound-udo;text/x-csound-inc;
Name=CsoundQt
Type=Application
Comment=CsoundQt is a frontend for Csound featuring a highlighting editor with autocomplete, interactive widgets and integrated help.
Keywords=audio;sound
