/*
QMainWindow::separator {
    width: 2px; 
    height: 2px; 
}
*/

QFrame {
    border: none;
    /*
    border-radius: 0px;
    padding: 0px;
    */
}

QMainWindow::separator:hover  {
    background: #696969;
}

QDockWidget::title  {
    text-align: center;
    padding-left: 0px;
}


QTabWidget::pane  { 
    /* The tab widget frame */
}

QTabWidget::tab-bar  {
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */

QTabBar::tab  {
/*    
    background: darkgrey;
    border-right: 2px solid lightgray;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    min-width: 8ex;
    padding: 4px;
*/
}

QTabBar::tab:selected {
}

QTabBar::tab:selected  {
    /*border-color: #9B9B9B;
    border-bottom-color: #C2C7CB;*/ /* same as pane color */
}

QTabBar::tab:!selected  {
    /* margin-top: 2px; */ /* make non-selected tabs look smaller */
}

/* make use of negative margins for overlapping tabs */
QTabBar::tab:selected  {
    /* expand/overlap to the left and right by 4px */
    /* margin-left: -4px;
    margin-right: -4px; */
}


/* QTextEdit --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-specific-widgets

--------------------------------------------------------------------------- */

QTextEdit {
    background-color: #19232D;
    color: #E0E1E3;
}

/*
QTextEdit:focus {
  border: 1px solid #1A72BB;
}

QTextEdit:selected {
  background: #346792;
  color: #455364;
}
*/
