<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>orc</string>
          <string>sco</string>
          <string>csd</string>
          <string>inc</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>qtcs.icns</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>TEXT</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSIsAppleDefaultForType</key>
        <true/>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>@EXECUTABLE@</string>
    <key>CFBundleGetInfoString</key>
    <string>Created by Qt/QMake</string>
    <key>CFBundleIconFile</key>
    <string>qtcs.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>LSEnvironment</key>
    <array>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin</string>
    </dict>
    </array>
  </dict>
</plist>
